@import "https://ease-css.netlify.app/ease/css/ease.css";

:root {
  --level-1: 10;
  --level-2: 20;
  --level-3: 30;
  --accent-color: rgb(0, 174, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(220, 244, 255);
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;
}

/* -----------------misc------------------------ */
.links-black
{
  color: black;
}
.f-grey {
  color: rgb(88, 88, 88);
}
.f-grey1 {
  color: rgb(58, 58, 58);
}
.brand-logo {
  height: 150px;
}
.outline {
  color: grey;
  border: 1px solid transparent;
  transition: 0.3s;
}
.outline:hover {
  border: 1px solid grey;
}
.center-banners {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: grey;
}
.links {
  color: white;
  font-size: large;
}

.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.default-img {
  width: 200px;
}

/* ----------------navigation----------------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--level-3);
  padding: 0 3rem;
}
.child-nav {
  padding-left: 1rem;
  border-radius: 5px;
  margin-top: 70px;
  margin-left: 210px;
  height: 50px;
  background-color: var(--accent-color);
  display: flex;
  gap: 1rem;
  align-items: center;

  transition: 0.3s;
  cursor: grab;
  position: relative;
  z-index: var(--level-1);
}
.child-nav-item {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 0.3rem 1rem;
  font-size: small;
}
.child-nav-item:hover {
  background-color: rgb(0, 109, 160);
  border: 1px solid rgb(0, 93, 136);
}
.child-nav .categories {
  position: absolute;
  left: 1rem;
  padding-right: 1rem;
}
.child-nav .links-container {
  font-size: small;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 6rem;
  overflow-x: auto;
}

.child-nav .links-container::-webkit-scrollbar {
  height: 5px;
}
/* Handle */
.child-nav .links-container::-webkit-scrollbar-thumb {
  background: rgb(0, 140, 196);
}

/* Handle on hover */
.child-nav .links-container::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 106, 155);
}

.sidebar {
  border-radius: 5px;
  min-height: 100vh;
  width: 200px;
  background-color: var(--accent-color);
  left: 0px;
  position: fixed;
  top: 70px;
}
.sidebar-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

/* --------------------------------------- */

.content-container {
  margin-top: 1rem;
  margin-left: 210px;
}

/* ------------------------------Video card---------------------- */
.video-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.video-card {
  max-width: 250px;
  flex: 30%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgb(176, 226, 255);
}
.video-card img {
  border-radius: 10px;
  height: 150px;
}

.video-info
{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.channel-name
{
  height: 100%;
}
/* .video-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: max-content;
  border-radius: 5px;
}
.video-card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.video-card:hover {
}
.video-info-flex {
  display: flex;
  justify-content: space-between;
}
.video-icon {
  flex: 20%;
  font-size: small;
}
.video-info {
  flex: 80%;
  font-size: small;
} */

/* --------------------video-card-horizontal------------------------ */

.saved-card-container {
  display: flex;
  flex-direction: column;
}

.video-card-horizontal {
  display: flex;
  justify-content:flex-start;

}
.video-card-horizontal .btn {
  align-self: center;
  width: max-content;
}
.video-card-horizontal img {
  width: 200px;
  height: auto;
}

/* ------------------playlist--------------------- */

.playlist-bg {
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100000;

  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist {
  background-color: rgb(22, 17, 17);
  width: 320px;
  min-height: 400px;
}
/* 
.jcsb
{
  justify-content: space-between;
}
.jcc
{
  justify-content: center;
}
.jcfs
{
  justify-content: flex-start;
}
.jcfe
{
  justify-content: flex-end;
}
.jcsa
{
  justify-content: space-around;
}

.aic
{
  align-items: center;
}
.aife
{
  align-items: flex-end;
}
.aifs
{
  align-items: flex-start;
} */
